<!DOCTYPE html>
<html>
    <head>
        <script src="./static/js/jquery.min.js"></script>
        <div id="myHeader"></div>
    </head>
    <body>
        <header>
            <div id="myNav"></div>
        </header>
        <main>
            <div class="container">
                Hi
            </div>
        </main>
        {% include 'footer.html' %}
        {% include_relative 'web/footer.html' %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#myHeader").load("web/header.html");
                $("#myNav").load("web/navbar.html");
            });
        </script>
    </body>
</html>