/* Color */
.il-pink {
    background-color: #E5717F !important
}

.il-blue {
    background-color: #335B7A !important
}

.il-black {
	color: black !important;
}

.il-bold {
	font-weight: bold;
}

.navbar-custom {
    background: white;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.nav-color {
	color: black !important;
}

.page-footer {
	background-color: #335B7A !important;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}