body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

/* Color */
.il-pink {
    background-color: #E5717F !important
}

.il-blue {
    background-color: #335B7A !important
}

.il-pink-text {
    color: #E5717F !important
}

.il-blue-text {
    color: #335B7A !important
}

.brand-logo-cy {
	font-weight: bold;
	white-space: nowrap;
}

.navbar-custom {
    background: white;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.page-footer {
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.about-me-title {
	font-size: 2rem;
	font-weight: 600;
}

.about-me-description {
	font-size: 1.25rem;
    line-height: 1.6rem;
    font-weight: 300;
}

.section-padding {
	padding-top: 2rem;
}